$color-design-black: #1F2732;
$color-design-very-dark-grey: #343D46;
$color-design-dark-grey: #4F5B66;
$color-design-grey: #606C78;
$color-design-medium-grey: #6B7C8C;
$color-design-light-grey: #A7ADBA;
$color-design-blue: #03A8D3;
$color-design-light-blue: #84A3D5;
$color-design-dark-blue: #043648;

$color-design-green: #00cb33;

$color-design-background: #F5FAFE;
$color-headings: #1f2732;

$color-white: #ffffff;
$color-soft-white: rgba(255,255,255,0.8);
$color-transparent-white: rgba(255,255,255,0.7);

$max-width-desktop: 1440px;
$max-width-desktop-content: 1200px;
$max-width-tablet: 1024px;
$max-width-tablet-content: 992px;

$gutter-size: 2rem;
$header-navigation-gutter-size: calc(#{$gutter-size} - 0.4rem);

$device-max-width-mobile: 575px;
$device-min-width-tablet: 576px;
$device-max-width-tablet: 1023px;
$device-min-width-desktop: 1024px;

$device-min-width-before-header-mobile: calc(#{$device-min-width-desktop} + 354px);
$device-max-width-header-mobile: $device-min-width-before-header-mobile;

:root {
  --height-header: 64px;

  @media (min-width: $device-min-width-before-header-mobile) {
    --height-header: 80px;
  }
}

@mixin media-breakpoint-less-than($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin media-breakpoint-up($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin two-color-gradient($color1, $color2) {
  background: linear-gradient(135deg, $color1, $color2);
}

@mixin three-color-gradient($color1, $color2, $color3) {
  background: linear-gradient(90deg, $color1 0%, $color2 40%, $color3 100%);
}

@mixin set-box-shadow {
  box-shadow: 0 5px 12px 1px rgba(0,0,0,0.07);
  border-radius: 8px;
}

@mixin set-module-width {
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up($device-min-width-tablet) {
    max-width: $max-width-tablet;
  }

  @include media-breakpoint-up($device-min-width-desktop) {
    max-width: $max-width-desktop;
  }
}

@mixin set-module-paddings {
  @include media-breakpoint-less-than($device-max-width-mobile) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include media-breakpoint-up($device-min-width-tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include media-breakpoint-up($device-min-width-desktop) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

@mixin set-module-content-width {
  @include media-breakpoint-less-than($device-min-width-desktop) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include media-breakpoint-up($device-min-width-desktop) {
    padding-left: calc((#{$max-width-desktop} - #{$max-width-desktop-content}) / 2);
    padding-right: calc((#{$max-width-desktop} - #{$max-width-desktop-content}) / 2);
  }
}
