@import "assets/css/variables";
@import "assets/css/placeholder";
@import "assets/css/foundation";
@import "hooper/dist/hooper.css";

.module {
  margin: 3rem auto;
  max-width: var(--module-max-content-width);

  
  @include mb-up($desktop-min) {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
